{% extends 'app_user/layout.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div>
        <h4>Contacted list of </h4>
        <div class="flex-div-even-spaced">
            <div class="source-user-info">
                <p>{{source.rank}}</p>
                <p>{{source.name}}</p>
                <p>{{ source.unit }}</p>
            </div>
            <div class="source-user-info">
                <p>App ID:{{ source.app_gen_id }}</p>
                <p>User ID:{{ source.user_gen_id }}</p>
                <p>Mob No:{{ source.mobile_num }}</p>
            </div>
            <div class="source-user-info">
                <p>From: &nbsp;<span>{{ from_date }}</span></p>
                <p>To: &nbsp;<span>{{ to_date }}</span></p>
            </div>
        </div>
        
    </div>

    <div>
        <table class="table table-sm">
            <thead>
                <tr>
                 <th>Pers no</th>
                 <th>User G ID</th>
                 <th>App G ID</th>
                 <th>Rank</th>
                 <th>Name</th>
                 <th>Unit</th>
                 <th>Date Time</th>
                 <th>Rmks</th>
                </tr>
            </thead>
            <tbody>
                {% for user in contacted_users %}
                    <tr>
                        <td>{{ user.pers_num }}</td>
                        <td>{{ user.user_gen_id }}</td>
                        <td>{{ user.app_gen_id }}</td>
                        <td>{{ user.rank }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.unit }}</td>
                        <td>{{ user.contact_time }}</td>
                        <td>{{ user.mobile_num }}</td>
                        <td></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div>
        <button class="btn btn-primary btn-print">Print</button>
    </div>
</div>

{% endblock %}

