{% extends 'app_user/layout.html' %}
{% load static %}
{% load addl_tags %}

{% block content %}
<div class="container">
    <div class="home-title">
        <div>
            <h2>COVID-19 Contact Tracer</h2>
            {{ past_date | past3day }}
        </div>
        
    </div>
    <div class="home-subcontainer">
        <div class="instr">
            <div>
                <h5>
                    Some description or user instruction
                </h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}